*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Klee One";

}
body{
    background-image: url(assets/images/body-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}